<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DisplayAutoRotation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <DisplayAutoRotation.Properties.Settings>
            <setting name="LangCombo" serializeAs="String">
                <value>Русский</value>
            </setting>
            <setting name="Reestr_Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Smooth_Track" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Sens_Track" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Vert_Track" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Hor_Track" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="X_Corr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y_Corr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Z_Corr" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Freeze_Track" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Curr_Anim" serializeAs="String">
                <value>False</value>
            </setting>
        </DisplayAutoRotation.Properties.Settings>
    </userSettings>
</configuration>
